<h1>Mohit Bharatkumar Makhija</h1>
<h2>My Goals and ambitions</h2>

<section>
    <main> 
    <p>I was born in Gujarat,India.
    I was born on 9th of february 2004.
    I studied in Swaminarayan Dham International School.
    My School life was good in ways of academic and other activites.
    Which helped me achieving a lot in academic career as well as in physical activities.
    I scored an average of 75 percent in my examinations.
    I played in basketball team of my school.
    I would like to be software engineer and a successful person in IT industry.
</p>
</main>
</section>
